---
layout: post
title: "Sample post with thumbnail"

keywords: Shamsee, Lone Idiot and Cub, Tristan J. Tarwater, Adrian Ricker
description: Shamsee Lone Idiot and Cub - page 013

thumbnail: images/posts/thumbs/catmen.jpg

facebook_type: 
facebook_image: images/posts/catmen.jpg

---
<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
    .container {
         max-width: 1000;
         margin: auto;
    }
    a, p, ul li, ol li, h1, h2, h3, h4, h5, h6{
        font-family: 'Open Sans', sans-serif;    
        }
</style>

<head>
    <title>Home</title>

    <div class="container">
        {{content}}

    </div>
</head>



